---
title: IMFData.jl
author: stephenbnicar
execute:
  echo: true
format:
  html:
    code-fold: true
    code-tools: true
    toc: true
    echo: true
keep-ipynb: true
---

[Code](https://github.com/stephenbnicar/IMFData.jl)

[Examples](https://github.com/stephenbnicar/IMFData.jl/blob/master/examples/examples.jl)

In [1]:
#import Pkg; Pkg.add("IMFData")
using CSV, DataFrames, DataFramesMeta, IMFData

wd = @__DIR__

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main"

# General Functions

## Get a list of datasets accessible from the API

Note: While the function `get_imf_datasets()` returns a list of all available datasets, currently the module only supports data requests from the International Financial Statistics (IFS) dataset.

In [2]:
# Get a list of datasets accessible from the API:
data = IMFData.get_imf_datasets()
names(data)
data = DataFrames.DataFrame(
    dataset_id = data.dataset_id,
    dataset_name = data.dataset_name)

df = DataFrames.DataFrame([[],[]], ["dataset_id", "dataset_name"])
for i in 1:size(data)[1]
    push!(df, (data[i,1],data[i,2]))
end
df.dataset_id = string.(df.dataset_id)
df.dataset_name = string.(df.dataset_name)
CSV.write(
    wd * "/IMFDatasets.csv",
    delim = ";",
    df)

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main/IMFDatasets.csv"

## Get the list of parameters ("dimensions") for a dataset and their values

In [3]:
# ifs_structure = get_imf_datastructure("IFS")

### Parameter Names

In [4]:
# collect(values(ifs_structure))[1]

### Parameter Values

In [5]:
# collect(values(ifs_structure))[2]

1. "CL_UNIT_MULT"

In [6]:
# collect(collect(values(ifs_structure))[2])[2]

2. "CL_FREQ"

In [7]:
# collect(collect(values(ifs_structure))[2])[5]

3. "CL_AREA_IFS"

In [8]:
# collect(collect(values(ifs_structure))[2])[4]

4. "CL_INDICATOR_IFS"

In [9]:
# collect(collect(values(ifs_structure))[2])[1]

5. "CL_TIME_FORMAT"

In [10]:
# collect(collect(values(ifs_structure))[2])[3]

## Filter Datasets by Key

In [11]:
datasets = IMFData.get_imf_datasets()
# Use @where macro from DataFramesMeta to filter based on dataset name
#ds_ifs = @where(datasets, occursin.("IFS", :dataset_id))
ds_ifs = DataFramesMeta.@subset(datasets, occursin.("IFS", :dataset_id))

71Ã—2 DataFrame
 Row â”‚ dataset_id        dataset_name
     â”‚ String            String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ IFS               International Financial Statistiâ€¦
   2 â”‚ IFS_2017M08       International Financial Statistiâ€¦
   3 â”‚ IFS_2017M09       International Financial Statistiâ€¦
   4 â”‚ IFS_2017M10       International Financial Statistiâ€¦
   5 â”‚ IFS_2017M11       International Financial Statistiâ€¦
   6 â”‚ IFS_2017M12       International Financial Statistiâ€¦
   7 â”‚ IFS_2018M01       International Financial Statistiâ€¦
   8 â”‚ IFS_2018M02       International Financial Statistiâ€¦
   9 â”‚ IFS_2018M03       International Financial Statistiâ€¦
  10 â”‚ IFS_2018M04       International Financial Statistiâ€¦
  11 â”‚ IFS_2018M05       International Financial Statistiâ€¦
  â‹®  â”‚        â‹®                          â‹®
  62 â”‚ IFS_2022M08       International Financial Statistiâ€¦
  63 â”‚ IFS_2022M09       International Financial Statistiâ€¦
  64 â”‚ IFS_2022M10       International Financial Statistiâ€¦
  65 â”‚ IFS_2022M11       International Financial Statistiâ€¦
  66 â”‚ IFS_2023M01       International Financial Statistiâ€¦
  67 â”‚ IFS_2023M02       International Financial Statistiâ€¦
  68 â”‚ IFS_2023M03       International Financial Statistiâ€¦
  69 â”‚ IFS_2023M04       International Financial Statistiâ€¦
  70 â”‚ IFS_2023M05       International Financial Statistiâ€¦
  71 â”‚ IFS_DISCONTINUED  International Financial Statistiâ€¦
                                            50 rows omitted

In [12]:
#ds_dot = @where(datasets, occursin.("DOT", :dataset_id))
ds_dot = DataFramesMeta.@subset(datasets, occursin.("DOT", :dataset_id))

26Ã—2 DataFrame
 Row â”‚ dataset_id  dataset_name
     â”‚ String      String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ DOT         Direction of Trade Statistics (Dâ€¦
   2 â”‚ DOT_2017Q1  Direction of Trade Statistics (Dâ€¦
   3 â”‚ DOT_2017Q2  Direction of Trade Statistics (Dâ€¦
   4 â”‚ DOT_2017Q3  Direction of Trade Statistics (Dâ€¦
   5 â”‚ DOT_2017Q4  Direction of Trade Statistics (Dâ€¦
   6 â”‚ DOT_2018Q1  Direction of Trade Statistics (Dâ€¦
   7 â”‚ DOT_2018Q2  Direction of Trade Statistics (Dâ€¦
   8 â”‚ DOT_2018Q3  Direction of Trade Statistics (Dâ€¦
   9 â”‚ DOT_2018Q4  Direction of Trade Statistics (Dâ€¦
  10 â”‚ DOT_2019Q1  Direction of Trade Statistics (Dâ€¦
  11 â”‚ DOT_2019Q2  Direction of Trade Statistics (Dâ€¦
  â‹®  â”‚     â‹®                       â‹®
  17 â”‚ DOT_2020Q4  Direction of Trade Statistics (Dâ€¦
  18 â”‚ DOT_2021Q1  Direction of Trade Statistics (Dâ€¦
  19 â”‚ DOT_2021Q2  Direction of Trade Statistics (Dâ€¦
  20 â”‚ DOT_2021Q3  Direction of Trade Statistics (Dâ€¦
  21 â”‚ DOT_2021Q4  Direction of Trade Statistics (Dâ€¦
  22 â”‚ DOT_2022Q1  Direction of Trade Statistics (Dâ€¦
  23 â”‚ DOT_2022Q2  Direction of Trade Statistics (Dâ€¦
  24 â”‚ DOT_2022Q3  Direction of Trade Statistics (Dâ€¦
  25 â”‚ DOT_2022Q4  Direction of Trade Statistics (Dâ€¦
  26 â”‚ DOT_2023Q1  Direction of Trade Statistics (Dâ€¦
                                       5 rows omitted

# Retrieve data from the IFS dataset

## With one request:

In [13]:
us_gdp = get_ifs_data("US", "NGDP_SA_XDC", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

In [14]:
us_gdp.series

296Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1950-03-01  70207.0
   2 â”‚ 1950-06-01  72595.8
   3 â”‚ 1950-09-01  77038.3
   4 â”‚ 1950-12-01  79986.3
   5 â”‚ 1951-03-01  84000.0
   6 â”‚ 1951-06-01  86022.5
   7 â”‚ 1951-09-01  87846.3
   8 â”‚ 1951-12-01  89044.5
   9 â”‚ 1952-03-01  89955.0
  10 â”‚ 1952-06-01  90257.5
  11 â”‚ 1952-09-01  91925.3
  â‹®  â”‚     â‹®             â‹®
 287 â”‚ 2021-09-01      5.95724e6
 288 â”‚ 2021-12-01      6.16365e6
 289 â”‚ 2022-03-01      6.25728e6
 290 â”‚ 2022-06-01      6.38607e6
 291 â”‚ 2022-09-01      6.49866e6
 292 â”‚ 2022-12-01      6.6021e6
 293 â”‚ 2023-03-01      6.7034e6
 294 â”‚ 2023-06-01      6.76575e6
 295 â”‚ 2023-09-01      6.90253e6
 296 â”‚ 2023-12-01      6.98471e6
                 275 rows omitted

## With multiple requests:

In [15]:
countries = ["US","CA"]
indicators = ["NGDP_SA_XDC"]
us_ca_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

2-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CA
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1961 to 2023
Data: 252 x 2 DataFrame

In [16]:
us_ca_gdp[1].series

296Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1950-03-01  70207.0
   2 â”‚ 1950-06-01  72595.8
   3 â”‚ 1950-09-01  77038.3
   4 â”‚ 1950-12-01  79986.3
   5 â”‚ 1951-03-01  84000.0
   6 â”‚ 1951-06-01  86022.5
   7 â”‚ 1951-09-01  87846.3
   8 â”‚ 1951-12-01  89044.5
   9 â”‚ 1952-03-01  89955.0
  10 â”‚ 1952-06-01  90257.5
  11 â”‚ 1952-09-01  91925.3
  â‹®  â”‚     â‹®             â‹®
 287 â”‚ 2021-09-01      5.95724e6
 288 â”‚ 2021-12-01      6.16365e6
 289 â”‚ 2022-03-01      6.25728e6
 290 â”‚ 2022-06-01      6.38607e6
 291 â”‚ 2022-09-01      6.49866e6
 292 â”‚ 2022-12-01      6.6021e6
 293 â”‚ 2023-03-01      6.7034e6
 294 â”‚ 2023-06-01      6.76575e6
 295 â”‚ 2023-09-01      6.90253e6
 296 â”‚ 2023-12-01      6.98471e6
                 275 rows omitted

In [17]:
us_ca_gdp[2].series

252Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1961-03-01   10150.0
   2 â”‚ 1961-06-01   10374.0
   3 â”‚ 1961-09-01   10651.0
   4 â”‚ 1961-12-01   10851.0
   5 â”‚ 1962-03-01   11156.0
   6 â”‚ 1962-06-01   11283.0
   7 â”‚ 1962-09-01   11517.0
   8 â”‚ 1962-12-01   11783.0
   9 â”‚ 1963-03-01   11896.0
  10 â”‚ 1963-06-01   12139.0
  11 â”‚ 1963-09-01   12338.0
  â‹®  â”‚     â‹®          â‹®
 243 â”‚ 2021-09-01  635451.0
 244 â”‚ 2021-12-01  659833.0
 245 â”‚ 2022-03-01  681646.0
 246 â”‚ 2022-06-01  710536.0
 247 â”‚ 2022-09-01  711218.0
 248 â”‚ 2022-12-01  709889.0
 249 â”‚ 2023-03-01  709332.0
 250 â”‚ 2023-06-01  715106.0
 251 â”‚ 2023-09-01  726387.0
 252 â”‚ 2023-12-01  738095.0
            231 rows omitted

In [18]:
# Pasar a DataFrame
df = []
dftemp = []
i = 1
for i in 1:size(countries)[1]
    dftemp = us_ca_gdp[i].series;
    dftemp[:,:country] .= countries[i];
    dftemp[:,:indicator] .= indicators[1];
    df = push!(df,dftemp)
end
df = vcat(df...)

548Ã—4 DataFrame
 Row â”‚ date        value     country  indicator
     â”‚ Date        Float64   String   String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1950-03-01   70207.0  US       NGDP_SA_XDC
   2 â”‚ 1950-06-01   72595.8  US       NGDP_SA_XDC
   3 â”‚ 1950-09-01   77038.3  US       NGDP_SA_XDC
   4 â”‚ 1950-12-01   79986.3  US       NGDP_SA_XDC
   5 â”‚ 1951-03-01   84000.0  US       NGDP_SA_XDC
   6 â”‚ 1951-06-01   86022.5  US       NGDP_SA_XDC
   7 â”‚ 1951-09-01   87846.3  US       NGDP_SA_XDC
   8 â”‚ 1951-12-01   89044.5  US       NGDP_SA_XDC
   9 â”‚ 1952-03-01   89955.0  US       NGDP_SA_XDC
  10 â”‚ 1952-06-01   90257.5  US       NGDP_SA_XDC
  11 â”‚ 1952-09-01   91925.3  US       NGDP_SA_XDC
  â‹®  â”‚     â‹®          â‹®         â‹®          â‹®
 539 â”‚ 2021-09-01  635451.0  CA       NGDP_SA_XDC
 540 â”‚ 2021-12-01  659833.0  CA       NGDP_SA_XDC
 541 â”‚ 2022-03-01  681646.0  CA       NGDP_SA_XDC
 542 â”‚ 2022-06-01  710536.0  CA       NGDP_SA_XDC
 543 â”‚ 2022-09-01  711218.0  CA       NGDP_SA_XDC
 544 â”‚ 2022-12-01  709889.0  CA       NGDP_SA_XDC
 545 â”‚ 2023-03-01  709332.0  CA       NGDP_SA_XDC
 546 â”‚ 2023-06-01  715106.0  CA       NGDP_SA_XDC
 547 â”‚ 2023-09-01  726387.0  CA       NGDP_SA_XDC
 548 â”‚ 2023-12-01  738095.0  CA       NGDP_SA_XDC
                                  527 rows omitted

# Examples

## IFS indicators

### Indicators: "CL_INDICATOR_IFS"

In [19]:
ifs_structure  = get_imf_datastructure("IFS")
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]

1681Ã—2 DataFrame
  Row â”‚ parameter_value    description
      â”‚ String             String
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚ NFIAXD_XDC         Acquisitions less Disposals of Vâ€¦
    2 â”‚ NFIAXD_SA_XDC      Acquisitions less Disposals of Vâ€¦
    3 â”‚ NFIAXD_NSA_XDC     Acquisitions less Disposals of Vâ€¦
    4 â”‚ NFIAXD_R_XDC       Acquisitions less Disposals of Vâ€¦
    5 â”‚ NFIAXD_R_SA_XDC    Acquisitions less Disposals of Vâ€¦
    6 â”‚ NFIAXD_R_NSA_XDC   Acquisitions less Disposals of Vâ€¦
    7 â”‚ IAFR_BP6_USD       International Investment Positioâ€¦
    8 â”‚ IADD_BP6_USD       International Investment Positioâ€¦
    9 â”‚ IADE_BP6_USD       International Investment Positioâ€¦
   10 â”‚ IAD_BP6_USD        International Investment Positioâ€¦
   11 â”‚ IADF_BP6_USD       International Investment Positioâ€¦
  â‹®   â”‚         â‹®                          â‹®
 1672 â”‚ BTCC_BP6_USD       Balance of Payments, Supplementaâ€¦
 1673 â”‚ RAFA_G_XDR         Total International Reserves, SDâ€¦
 1674 â”‚ RAFA_G_USD         Total International Reserves, USâ€¦
 1675 â”‚ RAFA_MV_USD        Total Reserves, US Dollars (Goldâ€¦
 1676 â”‚ AOTV_PE_NUM        Tourism, Number of Visitors, Perâ€¦
 1677 â”‚ LU_PE_NUM          Unemployment, Persons, Number of
 1678 â”‚ LU_PE_PC_CP_A_PT   Unemployment, Persons, Percentagâ€¦
 1679 â”‚ LU_PE_PC_PP_PT     Unemployment, Persons, Percentagâ€¦
 1680 â”‚ 1C_ALL_INDICATORS  All Indicators
 1681 â”‚ MFS                Monetary and Financial Statisticâ€¦
                                            1660 rows omitted

In [20]:
ifs_indicators.parameter_value

1681-element Vector{String}:
 "NFIAXD_XDC"
 "NFIAXD_SA_XDC"
 "NFIAXD_NSA_XDC"
 "NFIAXD_R_XDC"
 "NFIAXD_R_SA_XDC"
 "NFIAXD_R_NSA_XDC"
 "IAFR_BP6_USD"
 "IADD_BP6_USD"
 "IADE_BP6_USD"
 "IAD_BP6_USD"
 "IADF_BP6_USD"
 "IAOE_BP6_USD"
 "IAO_BP6_USD"
 â‹®
 "BTRUE_BP6_USD"
 "BXISXF_BP6_USD"
 "BTCC_BP6_USD"
 "RAFA_G_XDR"
 "RAFA_G_USD"
 "RAFA_MV_USD"
 "AOTV_PE_NUM"
 "LU_PE_NUM"
 "LU_PE_PC_CP_A_PT"
 "LU_PE_PC_PP_PT"
 "1C_ALL_INDICATORS"
 "MFS"

In [21]:
ifs_indicators.description

1681-element Vector{String}:
 "Acquisitions less Disposals of Valuables, Nominal, Domestic Currency"
 "Acquisitions less Disposals of " â‹¯ 27 bytes â‹¯ "lly Adjusted, Domestic Currency"
 "Acquisitions less Disposals of " â‹¯ 18 bytes â‹¯ ", Unadjusted, Domestic Currency"
 "Acquisitions less Disposals of Valuables, Real, Domestic Currency"
 "Acquisitions less Disposals of " â‹¯ 24 bytes â‹¯ "lly Adjusted, Domestic Currency"
 "Acquisitions less Disposals of Valuables, Real, Unadjusted, Domestic Currency"
 "International Investment Positi" â‹¯ 40 bytes â‹¯ " (with Fund Record), US Dollars"
 "International Investment Positi" â‹¯ 29 bytes â‹¯ "t, Debt instruments, US Dollars"
 "International Investment Positi" â‹¯ 47 bytes â‹¯ "stment fund shares , US Dollars"
 "International Investment Positions, Assets, Direct investment, US Dollars"
 "International Investment Positi" â‹¯ 57 bytes â‹¯ "oyee stock options , US Dollars"
 "International Investment Positi" â‹¯ 26 bytes â‹¯ "ent,  Other equity , US Dollars"
 "International Investment Positions, Assets, Other investment , US Dollars"
 â‹®
 "Balance of Payments, Supplement" â‹¯ 18 bytes â‹¯ "s and related items, US Dollars"
 "Balance of Payments, Supplement" â‹¯ 50 bytes â‹¯ "eptional financing), US Dollars"
 "Balance of Payments, Supplement" â‹¯ 23 bytes â‹¯ "t + Capital Account, US Dollars"
 "Total International Reserves, SDRs (gold at 35 SDRs per ounce)"
 "Total International Reserves, US Dollars (gold at 35 SDRs per ounce)"
 "Total Reserves, US Dollars (Gold at Market Price)"
 "Tourism, Number of Visitors, Persons, Number of"
 "Unemployment, Persons, Number of"
 "Unemployment, Persons, Percenta" â‹¯ 23 bytes â‹¯ "g period previous year, Percent"
 "Unemployment, Persons, Percentage change, previous period, Percent"
 "All Indicators"
 "Monetary and Financial Statistics (MFS)"

In [22]:
CSV.write(
    wd * "/IFS_Indicators.csv",
    delim = ";",
    ifs_indicators)

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main/IFS_Indicators.csv"

### Units: "CL_UNIT_MULT"

In [23]:
ifs_units = ifs_structure["Parameter Values"]["CL_UNIT_MULT"]

31Ã—2 DataFrame
 Row â”‚ parameter_value  description
     â”‚ String           String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 0                Units
   2 â”‚ 2                Hundreds
   3 â”‚ 3                Thousands
   4 â”‚ 6                Millions
   5 â”‚ 9                Billions
   6 â”‚ 12               Trillions
   7 â”‚ N15              Quadrillionths
   8 â”‚ N14              Hundred Trillionths
   9 â”‚ N13              Ten Trillionths
  10 â”‚ N12              Trillionths
  11 â”‚ N11              Hundred Billionths
  â‹®  â”‚        â‹®                  â‹®
  22 â”‚ 1                Tens
  23 â”‚ 4                Ten Thousands
  24 â”‚ 5                Hundred Thousands
  25 â”‚ 7                Ten Millions
  26 â”‚ 8                Hundred Millions
  27 â”‚ 10               Ten Billions
  28 â”‚ 11               Hundred Billions
  29 â”‚ 13               Ten Trillions
  30 â”‚ 14               Hundred Trillions
  31 â”‚ 15               Quadrillions
                             10 rows omitted

In [24]:
ifs_units.description

31-element Vector{String}:
 "Units"
 "Hundreds"
 "Thousands"
 "Millions"
 "Billions"
 "Trillions"
 "Quadrillionths"
 "Hundred Trillionths"
 "Ten Trillionths"
 "Trillionths"
 "Hundred Billionths"
 "Ten Billionths"
 "Billionths"
 â‹®
 "Hundredths"
 "Tenths"
 "Tens"
 "Ten Thousands"
 "Hundred Thousands"
 "Ten Millions"
 "Hundred Millions"
 "Ten Billions"
 "Hundred Billions"
 "Ten Trillions"
 "Hundred Trillions"
 "Quadrillions"

### Time Format: "CL_TIME_FORMAT"

In [25]:
ifs_time = ifs_structure["Parameter Values"]["CL_TIME_FORMAT"]

6Ã—2 DataFrame
 Row â”‚ parameter_value  description
     â”‚ String           String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ P1Y              Annual
   2 â”‚ P6M              Bi-annual
   3 â”‚ P3M              Quarterly
   4 â”‚ P1M              Monthly
   5 â”‚ P7D              Weekly
   6 â”‚ P1D              Daily

In [26]:
ifs_time.description

6-element Vector{String}:
 "Annual"
 "Bi-annual"
 "Quarterly"
 "Monthly"
 "Weekly"
 "Daily"

### Countries: "CL_AREA_IFS"

In [27]:
ifs_countries = ifs_structure["Parameter Values"]["CL_AREA_IFS"]
ifs_countries.description
CSV.write(
    wd * "/IFS_Countries.csv",
    delim = ";",
    ifs_countries)

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main/IFS_Countries.csv"

### frequency: "CL_FREQ"

In [28]:
ifs_frequency = ifs_structure["Parameter Values"]["CL_FREQ"]

6Ã—2 DataFrame
 Row â”‚ parameter_value  description
     â”‚ String           String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ A                Annual
   2 â”‚ B                Bi-annual
   3 â”‚ Q                Quarterly
   4 â”‚ M                Monthly
   5 â”‚ D                Daily
   6 â”‚ W                Weekly

In [29]:
ifs_frequency.description

6-element Vector{String}:
 "Annual"
 "Bi-annual"
 "Quarterly"
 "Monthly"
 "Daily"
 "Weekly"

## One Country, One Indicator

In [30]:
indicators = "NGDP_SA_XDC"
countries  = "US"
us_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

In [31]:
us_gdp.series

296Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1950-03-01  70207.0
   2 â”‚ 1950-06-01  72595.8
   3 â”‚ 1950-09-01  77038.3
   4 â”‚ 1950-12-01  79986.3
   5 â”‚ 1951-03-01  84000.0
   6 â”‚ 1951-06-01  86022.5
   7 â”‚ 1951-09-01  87846.3
   8 â”‚ 1951-12-01  89044.5
   9 â”‚ 1952-03-01  89955.0
  10 â”‚ 1952-06-01  90257.5
  11 â”‚ 1952-09-01  91925.3
  â‹®  â”‚     â‹®             â‹®
 287 â”‚ 2021-09-01      5.95724e6
 288 â”‚ 2021-12-01      6.16365e6
 289 â”‚ 2022-03-01      6.25728e6
 290 â”‚ 2022-06-01      6.38607e6
 291 â”‚ 2022-09-01      6.49866e6
 292 â”‚ 2022-12-01      6.6021e6
 293 â”‚ 2023-03-01      6.7034e6
 294 â”‚ 2023-06-01      6.76575e6
 295 â”‚ 2023-09-01      6.90253e6
 296 â”‚ 2023-12-01      6.98471e6
                 275 rows omitted

In [32]:
us_gdp.indicator

"NGDP_SA_XDC"

In [33]:
us_gdp.frequency

"Q"

## Availability of Data

In [34]:
indic = "NGDP_SA_XDC"
area  = "US"
data_available = get_ifs_data(area, indic, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

In [35]:
data_not_available = get_ifs_data(area, indic, "M", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [36]:
data_not_defined = get_ifs_data(area, "NGDP_SA", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

## Filter Indicators

In [37]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
#gdp_indicators = @where(
gdp_indicators = @subset(
	ifs_indicators,
	occursin.("Gross Domestic Product", :description),
	occursin.("Domestic Currency", :description))

6Ã—2 DataFrame
 Row â”‚ parameter_value  description
     â”‚ String           String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ NGDP_XDC         Gross Domestic Product, Nominal,â€¦
   2 â”‚ NGDP_SA_XDC      Gross Domestic Product, Nominal,â€¦
   3 â”‚ NGDP_NSA_XDC     Gross Domestic Product, Nominal,â€¦
   4 â”‚ NGDP_R_XDC       Gross Domestic Product, Real, Doâ€¦
   5 â”‚ NGDP_R_SA_XDC    Gross Domestic Product, Real, Seâ€¦
   6 â”‚ NGDP_R_NSA_XDC   Gross Domestic Product, Real, Unâ€¦

In [38]:
indicators = gdp_indicators[2,1]
countries  = "US"
us_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

In [39]:
us_gdp.series

296Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1950-03-01  70207.0
   2 â”‚ 1950-06-01  72595.8
   3 â”‚ 1950-09-01  77038.3
   4 â”‚ 1950-12-01  79986.3
   5 â”‚ 1951-03-01  84000.0
   6 â”‚ 1951-06-01  86022.5
   7 â”‚ 1951-09-01  87846.3
   8 â”‚ 1951-12-01  89044.5
   9 â”‚ 1952-03-01  89955.0
  10 â”‚ 1952-06-01  90257.5
  11 â”‚ 1952-09-01  91925.3
  â‹®  â”‚     â‹®             â‹®
 287 â”‚ 2021-09-01      5.95724e6
 288 â”‚ 2021-12-01      6.16365e6
 289 â”‚ 2022-03-01      6.25728e6
 290 â”‚ 2022-06-01      6.38607e6
 291 â”‚ 2022-09-01      6.49866e6
 292 â”‚ 2022-12-01      6.6021e6
 293 â”‚ 2023-03-01      6.7034e6
 294 â”‚ 2023-06-01      6.76575e6
 295 â”‚ 2023-09-01      6.90253e6
 296 â”‚ 2023-12-01      6.98471e6
                 275 rows omitted

## Many Countries, One Indicator

In [40]:
function get_df(x)
    try
        df = countries_indicators[x].series
        df.country .= countries_indicators[x].area
        df.indicator .= countries_indicators[x].indicator
        df.frequency .= countries_indicators[x].frequency
        return df
    catch
        return DataFrames.DataFrame()
    end
end

get_df (generic function with 1 method)

In [41]:
indicators = "NGDP_SA_XDC"
countries  = ["US","CA","MX"]
countries_indicators = get_ifs_data(countries, indicators, "Q", 1900, 2100)

3-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CA
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1961 to 2023
Data: 252 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: MX
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1993 to 2023
Data: 123 x 2 DataFrame

In [42]:
size(countries_indicators)[1]

3

In [43]:
get_df(3)

123Ã—5 DataFrame
 Row â”‚ date        value      country  indicator    frequency
     â”‚ Date        Float64    String   String       String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1993-03-01  3.98823e5  MX       NGDP_SA_XDC  Q
   2 â”‚ 1993-06-01  4.06057e5  MX       NGDP_SA_XDC  Q
   3 â”‚ 1993-09-01  4.19407e5  MX       NGDP_SA_XDC  Q
   4 â”‚ 1993-12-01  4.28337e5  MX       NGDP_SA_XDC  Q
   5 â”‚ 1994-03-01  4.4009e5   MX       NGDP_SA_XDC  Q
   6 â”‚ 1994-06-01  4.58449e5  MX       NGDP_SA_XDC  Q
   7 â”‚ 1994-09-01  4.74859e5  MX       NGDP_SA_XDC  Q
   8 â”‚ 1994-12-01  4.95675e5  MX       NGDP_SA_XDC  Q
   9 â”‚ 1995-03-01  5.31711e5  MX       NGDP_SA_XDC  Q
  10 â”‚ 1995-06-01  5.83009e5  MX       NGDP_SA_XDC  Q
  11 â”‚ 1995-09-01  6.34642e5  MX       NGDP_SA_XDC  Q
  â‹®  â”‚     â‹®           â‹®         â‹®          â‹®           â‹®
 114 â”‚ 2021-06-01  6.6047e6   MX       NGDP_SA_XDC  Q
 115 â”‚ 2021-09-01  6.68766e6  MX       NGDP_SA_XDC  Q
 116 â”‚ 2021-12-01  6.84331e6  MX       NGDP_SA_XDC  Q
 117 â”‚ 2022-03-01  7.08968e6  MX       NGDP_SA_XDC  Q
 118 â”‚ 2022-06-01  7.31544e6  MX       NGDP_SA_XDC  Q
 119 â”‚ 2022-09-01  7.47112e6  MX       NGDP_SA_XDC  Q
 120 â”‚ 2022-12-01  7.57868e6  MX       NGDP_SA_XDC  Q
 121 â”‚ 2023-03-01  7.68015e6  MX       NGDP_SA_XDC  Q
 122 â”‚ 2023-06-01  7.8385e6   MX       NGDP_SA_XDC  Q
 123 â”‚ 2023-09-01  8.04916e6  MX       NGDP_SA_XDC  Q
                                              102 rows omitted

In [44]:
ndf = size(countries_indicators)[1]
df = map(_ -> DataFrames.DataFrame(), 1:ndf)
df = vcat([df[i] = get_df(i) for i in 1:ndf]...)
CSV.write(
    wd * "/IMFData.csv",
    delim = ";",
    df)

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main/IMFData.csv"

## Many Countries, Many Indicators

In [45]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
countries  = ["GT","HN","SV","NI","CR","PA"]
#gdp_indicators = @where(
gdp_indicators = DataFramesMeta.@subset(
	ifs_indicators,
	DataFrames.occursin.("Gross Domestic Product", :description),
	DataFrames.occursin.("Domestic Currency", :description))
indicators = gdp_indicators[!,1]
countries_indicators = get_ifs_data(countries, indicators, "Q", 1900, 2100)

36-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_NSA_XDC
Description:
Frequency: Q
Time Period: 2013 to 2023
Data: 43 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_NSA_XDC
Description:
Frequency: Q
Time Period: 2013 to 2023
Data: 43 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 2000 to 2023
Data: 96 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_SA_XDC
Description:
Frequency: Q
Time Period: 2000 to 2023
Data: 96 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: SV
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 â‹®
 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 132 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_NSA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 132 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_SA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 132 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_NSA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 132 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [46]:
countries_indicators[3].series

43Ã—2 DataFrame
 Row â”‚ date        value
     â”‚ Date        Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 2013-03-01       1.03834e5
   2 â”‚ 2013-06-01  102177.0
   3 â”‚ 2013-09-01       1.02217e5
   4 â”‚ 2013-12-01       1.08155e5
   5 â”‚ 2014-03-01       1.09525e5
   6 â”‚ 2014-06-01       1.09404e5
   7 â”‚ 2014-09-01  111334.0
   8 â”‚ 2014-12-01       1.17063e5
   9 â”‚ 2015-03-01       1.179e5
  10 â”‚ 2015-06-01       1.16185e5
  11 â”‚ 2015-09-01  118716.0
  â‹®  â”‚     â‹®             â‹®
  34 â”‚ 2021-06-01  161194.0
  35 â”‚ 2021-09-01       1.66217e5
  36 â”‚ 2021-12-01       1.75824e5
  37 â”‚ 2022-03-01       1.78476e5
  38 â”‚ 2022-06-01       1.78229e5
  39 â”‚ 2022-09-01       1.84388e5
  40 â”‚ 2022-12-01       1.95016e5
  41 â”‚ 2023-03-01  199365.0
  42 â”‚ 2023-06-01  198500.0
  43 â”‚ 2023-09-01       2.00863e5
                   22 rows omitted

In [47]:
ndf = size(countries_indicators)[1]
df = map(_ -> DataFrames.DataFrame(), 1:ndf)
[df[i] = get_df(i) for i in 1:ndf]
df = vcat(df...)
CSV.write(
    wd * "/IMFData_query.csv",
    delim = ";",
    df)
df

1016Ã—5 DataFrame
  Row â”‚ date        value           country  indicator       frequency
      â”‚ Date        Float64         String   String          String
â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
    1 â”‚ 2013-03-01       1.03834e5  GT       NGDP_NSA_XDC    Q
    2 â”‚ 2013-06-01  102177.0        GT       NGDP_NSA_XDC    Q
    3 â”‚ 2013-09-01       1.02217e5  GT       NGDP_NSA_XDC    Q
    4 â”‚ 2013-12-01       1.08155e5  GT       NGDP_NSA_XDC    Q
    5 â”‚ 2014-03-01       1.09525e5  GT       NGDP_NSA_XDC    Q
    6 â”‚ 2014-06-01       1.09404e5  GT       NGDP_NSA_XDC    Q
    7 â”‚ 2014-09-01  111334.0        GT       NGDP_NSA_XDC    Q
    8 â”‚ 2014-12-01       1.17063e5  GT       NGDP_NSA_XDC    Q
    9 â”‚ 2015-03-01       1.179e5    GT       NGDP_NSA_XDC    Q
   10 â”‚ 2015-06-01       1.16185e5  GT       NGDP_NSA_XDC    Q
   11 â”‚ 2015-09-01  118716.0        GT       NGDP_NSA_XDC    Q
  â‹®   â”‚     â‹®             â‹®            â‹®           â‹®             â‹®
 1007 â”‚ 2021-09-01       9.31402e6  CR       NGDP_R_NSA_XDC  Q
 1008 â”‚ 2021-12-01       9.88934e6  CR       NGDP_R_NSA_XDC  Q
 1009 â”‚ 2022-03-01       9.68201e6  CR       NGDP_R_NSA_XDC  Q
 1010 â”‚ 2022-06-01       9.41406e6  CR       NGDP_R_NSA_XDC  Q
 1011 â”‚ 2022-09-01       9.56453e6  CR       NGDP_R_NSA_XDC  Q
 1012 â”‚ 2022-12-01       1.03303e7  CR       NGDP_R_NSA_XDC  Q
 1013 â”‚ 2023-03-01       1.00782e7  CR       NGDP_R_NSA_XDC  Q
 1014 â”‚ 2023-06-01       9.95117e6  CR       NGDP_R_NSA_XDC  Q
 1015 â”‚ 2023-09-01       1.0094e7   CR       NGDP_R_NSA_XDC  Q
 1016 â”‚ 2023-12-01       1.08608e7  CR       NGDP_R_NSA_XDC  Q
                                                       995 rows omitted

# Examples from the original file

In [48]:
datasets = IMFData.get_imf_datasets()

323Ã—2 DataFrame
 Row â”‚ dataset_id        dataset_name
     â”‚ String            String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ AFRREO            Sub-Saharan Africa Regional Econâ€¦
   2 â”‚ AFRREO201410      Sub-Saharan Africa Regional Econâ€¦
   3 â”‚ AFRREO201504      Sub-Saharan Africa Regional Econâ€¦
   4 â”‚ AFRREO201510      Sub-Saharan Africa Regional Econâ€¦
   5 â”‚ AFRREO201604      Sub-Saharan Africa Regional Econâ€¦
   6 â”‚ AFRREO201610      Sub-Saharan Africa Regional Econâ€¦
   7 â”‚ AFRREO201704      Sub-Saharan Africa Regional Econâ€¦
   8 â”‚ AFRREO201710      Sub-Saharan Africa Regional Econâ€¦
   9 â”‚ AFRREO201804      Sub-Saharan Africa Regional Econâ€¦
  10 â”‚ AFRREO201810      Sub-Saharan Africa Regional Econâ€¦
  11 â”‚ AFRREO201904      Sub-Saharan Africa Regional Econâ€¦
  â‹®  â”‚        â‹®                          â‹®
 314 â”‚ WHDREO201604      Western Hemisphere Regional Econâ€¦
 315 â”‚ WHDREO201610      Western Hemisphere Regional Econâ€¦
 316 â”‚ WHDREO201704      Western Hemisphere Regional Econâ€¦
 317 â”‚ WHDREO201710      Western Hemisphere Regional Econâ€¦
 318 â”‚ WHDREO201804      Western Hemisphere Regional Econâ€¦
 319 â”‚ WHDREO201810      Western Hemisphere Regional Econâ€¦
 320 â”‚ WHDREO201904      Western Hemisphere Regional Econâ€¦
 321 â”‚ WHDREO201910      Western Hemisphere Regional Econâ€¦
 322 â”‚ WHDREO202010      Western Hemisphere Regional Econâ€¦
 323 â”‚ WoRLD             World Revenue Longitudinal Data â€¦
                                           302 rows omitted

In [49]:
# Use @where macro from DataFramesMeta to filter based on dataset name
ds_ifs = DataFramesMeta.@subset(datasets, DataFrames.occursin.("IFS", :dataset_id))

71Ã—2 DataFrame
 Row â”‚ dataset_id        dataset_name
     â”‚ String            String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ IFS               International Financial Statistiâ€¦
   2 â”‚ IFS_2017M08       International Financial Statistiâ€¦
   3 â”‚ IFS_2017M09       International Financial Statistiâ€¦
   4 â”‚ IFS_2017M10       International Financial Statistiâ€¦
   5 â”‚ IFS_2017M11       International Financial Statistiâ€¦
   6 â”‚ IFS_2017M12       International Financial Statistiâ€¦
   7 â”‚ IFS_2018M01       International Financial Statistiâ€¦
   8 â”‚ IFS_2018M02       International Financial Statistiâ€¦
   9 â”‚ IFS_2018M03       International Financial Statistiâ€¦
  10 â”‚ IFS_2018M04       International Financial Statistiâ€¦
  11 â”‚ IFS_2018M05       International Financial Statistiâ€¦
  â‹®  â”‚        â‹®                          â‹®
  62 â”‚ IFS_2022M08       International Financial Statistiâ€¦
  63 â”‚ IFS_2022M09       International Financial Statistiâ€¦
  64 â”‚ IFS_2022M10       International Financial Statistiâ€¦
  65 â”‚ IFS_2022M11       International Financial Statistiâ€¦
  66 â”‚ IFS_2023M01       International Financial Statistiâ€¦
  67 â”‚ IFS_2023M02       International Financial Statistiâ€¦
  68 â”‚ IFS_2023M03       International Financial Statistiâ€¦
  69 â”‚ IFS_2023M04       International Financial Statistiâ€¦
  70 â”‚ IFS_2023M05       International Financial Statistiâ€¦
  71 â”‚ IFS_DISCONTINUED  International Financial Statistiâ€¦
                                            50 rows omitted

In [50]:
ds_dot = DataFramesMeta.@subset(datasets, DataFrames.occursin.("DOT", :dataset_id))

26Ã—2 DataFrame
 Row â”‚ dataset_id  dataset_name
     â”‚ String      String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ DOT         Direction of Trade Statistics (Dâ€¦
   2 â”‚ DOT_2017Q1  Direction of Trade Statistics (Dâ€¦
   3 â”‚ DOT_2017Q2  Direction of Trade Statistics (Dâ€¦
   4 â”‚ DOT_2017Q3  Direction of Trade Statistics (Dâ€¦
   5 â”‚ DOT_2017Q4  Direction of Trade Statistics (Dâ€¦
   6 â”‚ DOT_2018Q1  Direction of Trade Statistics (Dâ€¦
   7 â”‚ DOT_2018Q2  Direction of Trade Statistics (Dâ€¦
   8 â”‚ DOT_2018Q3  Direction of Trade Statistics (Dâ€¦
   9 â”‚ DOT_2018Q4  Direction of Trade Statistics (Dâ€¦
  10 â”‚ DOT_2019Q1  Direction of Trade Statistics (Dâ€¦
  11 â”‚ DOT_2019Q2  Direction of Trade Statistics (Dâ€¦
  â‹®  â”‚     â‹®                       â‹®
  17 â”‚ DOT_2020Q4  Direction of Trade Statistics (Dâ€¦
  18 â”‚ DOT_2021Q1  Direction of Trade Statistics (Dâ€¦
  19 â”‚ DOT_2021Q2  Direction of Trade Statistics (Dâ€¦
  20 â”‚ DOT_2021Q3  Direction of Trade Statistics (Dâ€¦
  21 â”‚ DOT_2021Q4  Direction of Trade Statistics (Dâ€¦
  22 â”‚ DOT_2022Q1  Direction of Trade Statistics (Dâ€¦
  23 â”‚ DOT_2022Q2  Direction of Trade Statistics (Dâ€¦
  24 â”‚ DOT_2022Q3  Direction of Trade Statistics (Dâ€¦
  25 â”‚ DOT_2022Q4  Direction of Trade Statistics (Dâ€¦
  26 â”‚ DOT_2023Q1  Direction of Trade Statistics (Dâ€¦
                                       5 rows omitted

In [51]:
ifs_structure  = IMFData.get_imf_datastructure("IFS")

Dict{String, Any} with 2 entries:
  "Parameter Names"  => 5Ã—2 DataFrameâ€¦
  "Parameter Values" => Dict{Any, Any}("CL_INDICATOR_IFS"=>1681Ã—2 DataFrameâ€¦

## Search for GDP indicators

In [52]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
gdp_indicators = DataFramesMeta.@subset(
    ifs_indicators,
    DataFrames.occursin.("Gross Domestic Product", :description),
    DataFrames.occursin.("Domestic Currency", :description))
CSV.write(wd * "/ifs_gdp_indicators.csv", gdp_indicators; delim='\t')

"C:\\Directorio_Trabajo\\GitHub\\IMFData_Examples-main/ifs_gdp_indicators.csv"

## Availability of Data

In [53]:
indic = "NGDP_SA_XDC"
area  = "US"
data_available = IMFData.get_ifs_data(area, indic, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 296 x 2 DataFrame

In [54]:
data_not_available = get_ifs_data(area, indic, "M", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [55]:
data_not_defined = get_ifs_data(area, "NGDP_SA", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [56]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
countries  = ["GT","HN","SV","NI","CR","PA"]
indicators = ["NGDP_SA_XDC","NI_SA_XDC"]
countries_indicators = get_ifs_data(countries, indicators, "Q", 1900, 2100)
ndf = size(countries_indicators)[1]
df = map(_ -> DataFrames.DataFrame(), 1:ndf)
[df[i] = get_df(i) for i in 1:ndf]
df = vcat(df...)
CSV.write(
    wd * "/IMFData_query.csv",
    delim = ";",
    df)
df

360Ã—5 DataFrame
 Row â”‚ date        value          country  indicator    frequency
     â”‚ Date        Float64        String   String       String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 2000-03-01  26020.6        HN       NGDP_SA_XDC  Q
   2 â”‚ 2000-06-01  26554.2        HN       NGDP_SA_XDC  Q
   3 â”‚ 2000-09-01  26849.0        HN       NGDP_SA_XDC  Q
   4 â”‚ 2000-12-01  27230.4        HN       NGDP_SA_XDC  Q
   5 â”‚ 2001-03-01  28443.4        HN       NGDP_SA_XDC  Q
   6 â”‚ 2001-06-01  29389.0        HN       NGDP_SA_XDC  Q
   7 â”‚ 2001-09-01  29764.7        HN       NGDP_SA_XDC  Q
   8 â”‚ 2001-12-01  30818.6        HN       NGDP_SA_XDC  Q
   9 â”‚ 2002-03-01  30581.7        HN       NGDP_SA_XDC  Q
  10 â”‚ 2002-06-01  31986.7        HN       NGDP_SA_XDC  Q
  11 â”‚ 2002-09-01  33275.7        HN       NGDP_SA_XDC  Q
  â‹®  â”‚     â‹®             â‹®           â‹®          â‹®           â‹®
 351 â”‚ 2021-09-01      1.81866e6  CR       NI_SA_XDC    Q
 352 â”‚ 2021-12-01      2.06711e6  CR       NI_SA_XDC    Q
 353 â”‚ 2022-03-01      2.21539e6  CR       NI_SA_XDC    Q
 354 â”‚ 2022-06-01      2.05398e6  CR       NI_SA_XDC    Q
 355 â”‚ 2022-09-01      1.98303e6  CR       NI_SA_XDC    Q
 356 â”‚ 2022-12-01      1.95787e6  CR       NI_SA_XDC    Q
 357 â”‚ 2023-03-01      1.80872e6  CR       NI_SA_XDC    Q
 358 â”‚ 2023-06-01      1.68433e6  CR       NI_SA_XDC    Q
 359 â”‚ 2023-09-01      1.8563e6   CR       NI_SA_XDC    Q
 360 â”‚ 2023-12-01      1.85152e6  CR       NI_SA_XDC    Q
                                                  339 rows omitted